<!-- Header Navigation -->
<%- include partials/header.ejs %>

  <!-- Navbar -->
  <%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <%- include partials/content.ejs %>
    
    <div class="d-inline-flex">
      <div>
        My name is Jack Que and I am a student currently enrolled in the Software Engineering Technology program at Centennial College.<br>
        Through my studies I aspire to become a Web Developer, Full-Stack Developer, Front-End or Back-End Developer.<br>
        Currently I have been working on developing websites. <br>
        You can see some of the <a href="/projects">projects</a> I have been working on this site. <br>
        If you want to know more about my professional skills, you may check out my <a href="https://centennialcollegeedu-my.sharepoint.com/:b:/g/personal/jque4_my_centennialcollege_ca/EaHd8c9dg2ZFlfgJXVdOoDwBixOnCAmjXuLI-fl1tlFv0g?e=Yhgc3J">resumé</a>.
      </div>
      
      <div class="mx-3"><img class="rounded-3" src="/Assets/images/author.png"></div>
    </div>
  
  <!-- Bottom Navigation -->
  <%- include partials/bottom_nav.ejs %>

<!-- Footer Navigation -->
<%- include partials/footer.ejs %>
