<!-- Header Navigation -->
<%- include partials/header.ejs %>

  <!-- Navbar -->
  <%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <%- include partials/content.ejs %>
  <h1>Mission Statement </h1>
  This website is created with Express.js, Node.js for Assignment 1 - Express Portfolio of COMP229.<br>
  On this site, you can learn more <a href="/about">about me</a>, or some of the <a href="/projects">projects</a> I have worked on. 
  I also provide various <a href="/services">programming services</a> for a negotiable fee.
  If you have any questions, feedback, or requests, feel free to <a href="/contact">contact me</a>.

  <!-- Bottom Navigation -->
  <%- include partials/bottom_nav.ejs %>

<!-- Footer Navigation -->
<%- include partials/footer.ejs %>
