<!-- Header Navigation -->
<%- include partials/header.ejs %>

  <!-- Navbar -->
  <%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <%- include partials/content.ejs %>
  <div class="rounded-lg d-inline-flex justify-content-between mh-50 m-4"> <!-- Project Container 3 -->
    <span>
      <h2>Preston Properties</h2><br>
      Created as the final project for Web Interface Design, the objective was to design a website for a fictional real estate agent of choice.
      Using only HTML, CSS, and a little bit of Javascript (no Bootstrap, jQuery or any other external libraries), a professional, responsive, and modern website was made.
    </span>
    <img class="rounded-4 w-25 ms-5 mw-100 h-auto .img-responsive" src="/Assets/images/project3.png">
  </div>
  <div class="rounded-lg">

  <div class="rounded-lg d-inline-flex justify-content-between mh-50 m-4"> <!-- Project Container 2 -->
    <span>
      <h2>Survey Form</h2><br>
      Originally a midterm assignment, I was tasked with creating a mock survey form, similar to the ones distributed to students at the end of each semester. 
      Utilizing various CSS effects and basic Javascript validation, the end product was a clean and presentable survey, which its style rivals the college's own.
    </span>
    <img class="rounded-4 w-25 ms-5 mw-100 h-auto .img-responsive" src="/Assets/images/project2.png">
  </div>
  <div class="rounded-lg">
    
  <div class="rounded-lg d-inline-flex justify-content-between mh-50 m-4"> <!-- Project Container 1 -->
    <span>
      <h2>Personal Website</h2><br>
      Initally made as the first assignment for Web Interface Design, this was one of the first websites that I have created. 
      Made with only basic HTML and CSS, it closely resembles websites from the early 2000's of the internet. 
      The website was hosted on the college's FTP server and was accesible for the rest of the semester. 
    </span>
    <img class="rounded-4 w-25 ms-5 mw-100 h-auto .img-responsive" src="/Assets/images/project1.png">
  </div>
  <div class="rounded-lg">
  </div>
  <!-- Bottom Navigation -->
  <%- include partials/bottom_nav.ejs %>

<!-- Footer Navigation -->
<%- include partials/footer.ejs %>
