<!-- Header Navigation -->
<%- include partials/header.ejs %>

  <!-- Navbar -->
  <%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <%- include partials/content.ejs %>
  <div class="rounded-lg d-inline-flex align-items-center justify-content-between mh-50 m-4"> <!-- Service Container 1 -->
    <span>
      <h2>Web Developement</h2><br>
      While Web 2.0 allowed for the widespread proliferation of static HTML pages, Web 3.0 is just around the corner. 
      Dynamic "Web Apps" using MongoDB, Express.js, Angular, and Node.js are becoming popular, and as such the demand for web developers.

    </span>
    <img class="rounded-4 w-25 ms-5 mw-100 h-auto .img-responsive" src="/Assets/images/service3.png">
  </div>
  <div class="rounded-lg">

  <div class="rounded-lg d-inline-flex align-items-center justify-content-between mh-50 m-4"> <!-- Service Container 2 -->
    <span>
      <h2>Application Development</h2><br>
      The .NET Framework is extremely versatile, allowing a single application to be compatible with many systems.
      Many GUI applications built using .NET Framework are written in C#, and interact with various libraries of the client system.
      Creating, testing, and debugging these applications are often done by Software Developers.
    </span>
    <img class="rounded-4 w-25 ms-5 mw-100 h-auto .img-responsive" src="/Assets/images/service2.png">
  </div>
  <div class="rounded-lg">
    
  <div class="rounded-lg d-inline-flex align-items-center justify-content-between mh-50 m-4"> <!-- Service Container 3 -->
    <span>
      <h2>Database Management</h2><br>
      Databases store large amounts of data that may be frequently accessed and saved. 
      Various technologies such as MongoDB, Oracle DB, PL/SQL, and NoSQL have been used to store data.
      Often, databases require maintainance and management, requiring the work of a database administrator. 
    </span>
    <img class="rounded-4 w-25 ms-5 mw-100 h-auto .img-responsive" src="/Assets/images/service1.png">
  </div>
  <div class="rounded-lg">
  </div>
  <!-- Bottom Navigation -->
  <%- include partials/bottom_nav.ejs %>

<!-- Footer Navigation -->
<%- include partials/footer.ejs %>
